
<div class="row">
    Filter by domain
    <input type="text" ng-model="sportPostDomain" placeholder="ex: self.sports" />
    <input type="button" ng-click="filterData()" value="Filter" />
    Total authors: {{ sportPostGroups ? sportPostGroups.length : 0 }}

    <div ng-show="loading">
        <span style="color:crimson">Loading ...</span>
    </div>
    <ul>
        <li ng-repeat="sportPostGroup in sportPostGroups">
            <hr />
            <span style="color:crimson"><b>Author:</b> {{ sportPostGroup[0].Author }}</span>
            <br />

            <div ng-repeat="sportPost in sportPostGroup">
                <b>Title:</b> <a href="{{ 'http://www.reddit.com' + sportPost.Url }}">{{ sportPost.Title }}</a><br />
                <b>Domain:</b> <span>{{ sportPost.Domain }}</span><br />
                <b>Created on:</b> <span>{{ sportPost.DateCreated }}</span>
                <br /><br />
            </div>
        </li>
    </ul>
</div>
